# dependencies
/node_modules

# next
/.next/
/out/

# production
/build
/dist

# local env
.env*
!.env.example

# logs
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# system
.DS_Store
Thumbs.db
